<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Catálogo{% endblock %}</title>
    <link rel="stylesheet" href="{{ urlfor('static', filename='css/catalogo.css') }}">
    {% block css %}{% endblock %}
</head>

<body>

    {% block content %}{% endblock %}

    {% block js %}{% endblock %}

    <script src="{{ url_for('static', filename='js/catalogo.js') }}"></script>
</body>

</html>