
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}AfroEdu Stream{% endblock %}</title>

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}
</head>

<body>

    {% if session.get('usuario_id') %}
    <nav class="navbar">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='css/imagem/img/logo_educacao_negra.png') }}"
                alt="Logo AfroEdu Stream" class="site-logo" width="50" height="50">
            <span>AfroEdu Stream</span>
        </div>

        <ul class="nav-list">
            <li><a href="{{ url_for('catalogo') }}">Catálogo</a></li>
            <li><a href="{{ url_for('meus_favoritos') }}">Meus Favoritos</a></li>
            <li><a href="{{ url_for('saiba_mais') }}">Saiba Mais</a></li>
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
        </ul>
    </nav>
    {% endif %}
<div class="pagina">
    {% block conteudo %}{% endblock %}
</div>

    {% block js %}{% endblock %}

    <footer>
        <p>
            &copy; Catálogo Educacional NEABI -
            Promoção da Igualdade Racial e Diversidade nas Escolas.
        </p>
    </footer>

</body>

</html>