<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} afroedu steam {% endblock %}</title>

    <img src="{{ url_for('static', filename='css/catalogo.css') }}" alt="Logo-AfroEduSteam" class="site-logo"
        width="50" height="50">
    <span>AfroEduSteam</span>
    {% block css %} {% endblock %}
</head>

<body>

    <nav>
        <h1>AfroEduSteam</h1>
        <ul>
            <li><a href="{{ url_for('catalogo') }}">Catálogo</a></li>
            <li><a href="{{ url_for('meus_favoritos') }}">Meus Favoritos</a></li>
            <li><a href="{{ url_for('saiba_mais') }}">Saiba Mais</a></li>
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
        </ul>
    </nav>

    <main>
        {% block conteudo %} {% endblock conteudo %}
    </main>


    {% block js%} {% endblock js %}

    <footer>
        <p>&copy; Catálogo Educacional NEABI - Promoção da Igualdade Racial e Diversidade nas Escolas.</p>
    </footer>

</body>

</html>