<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AfroEdu Stream - Entrar</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css' ) }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&family=Sora:wght@600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <main class="login-container">
        <img src="{{ url_for('static',filename='css/imagem/img/logo_educacao_negra.png') }}"
            alt="Roda de Saberes Afro-Brasileira" class="logo-img">

        <form action="{{ url_for('login') }}" method="post" id="login-form">
            <h1>AfroEdu Stream</h1>

            <div class="campo_nome_usuario">
                <label for="nome-usuario-login">Nome_Usuário:</label>
                <input type="text" id="nome-usuario-login" name="Nome-Usuario"
                    placeholder="digite o seu Nome de Usuário" required>
            </div>

            <div class="campo_nome">
                <label for="nome-login">Nome:</label>
                <input type="text" id="login-nome" name="nome" placeholder="digite o seu nome" required>
            </div>

            <div class="campo_idade">
                <label for="idade-login">Idade</label>
                <input type="number" id="login-idade" name="idade" placeholder="digite a sua idade" required>
            </div>

            <div class="campo_data_nascimento">
                <label for="data-login">data de nascimento:</label>
                <input type="date" id="data-login" name="data" placeholder="digite a sua data de nascimento" required>
            </div>

            <div class="campo_email">
                <label for="email-login">E-mail:</label>
                <input type="email" id="email-login" name="email" placeholder="digite o seu E-mail" required>
            </div>

            <div class="campo_telefone">
                <label for="telefone-login">telefone:</label>
                <input type="tel" id="telefone-login" name="telefone" placeholder="digite o seu DDD" required>
            </div>

            <div class="campo_bairro">
                <label for="login-bairro">bairro:</label>
                <input type="text" id="bairro-login" name="bairro" placeholder="digite o nome do seu bairro" required>
            </div>

            <div class="campo_rua">
                <label for="rua-login">rua:</label>
                <input type="text" id="rua-login" name="rua" placeholder="digite o nome da sua rua" required>
            </div>

            <div class="campo_endereco">
                <label for="endereco_login">endereco:</label>
                <input type="number" id="endereco-login" name="endereco" placeholder="digite o seu numero de endereco"
                    required>
            </div>


            <div class="campo-senha">
                <label for="password-login">Senha:</label>
                <input type="password" id="password-login" name="senha" placeholder="Senha" required>
                <button type="button" id="toggle-password" class="btn-olho" title="Mostrar/Ocultar Senha">👁️</button>
            </div>

            <button type="button" id="btn-teste-login" class="btn-cadastrar btn-teste">
                Gerar Dados de Teste
            </button>

            <div class="remenber-forgot">
                <label for="lembrar-login">
                    <input type="checkbox" id="lembrar-login" name="lembrar"> <span>Lembrar de mim</span>
                </label>
                <a href="#">Esqueceu a senha?</a>
            </div>

            <button type="submit" class="btn-cadastrar" id="btn-entrar">
                Entrar
            </button>

            <div class="registrar-usuario">
                <p>Ainda não tem uma conta? <a href="#" id="cadastrar">Cadastre-se</a></p>
            </div>
        </form>
    </main>

    <script src="{{url_for('static', filename='Js/login.Js') }}"></script>
</body>

</html>