{% extends "base.html" %}

{% block conteudo %} saiba mais {% endblock title %}

{% block conteudo %}
    <div class="logo-container">
        <img src="{{ url_for('static', filename='css/imagem/img/logo_educacao_negra.png') }}" alt="Logo do Catálogo"
            class="site-logo" width="65" height="65">
        <span class="logo-texto">AfroEdu Favoritos</span>
    </div>
    <ul class="nav-list">
        <li><a href="{{ url_for('catalogo') }}" class="nav-link">Voltar ao Catálogo</a></li>
        <li><a href="{{ url_for('logout') }}" class="nav-link">Sair</a></li>
    </ul>


<!-- CABEÇALHO DA PÁGINA -->
<header class="header-favoritos">
    <strong>Minha Coleção Pessoal</strong>
    <h1>Meus Livros, Filmes e Séries Favoritos</h1>
    <p>Acompanhe e gerencie todos os itens salvos do seu catálogo educacional.</p>
</header>

<!-- ÁREA PRINCIPAL COM A GRADE DE FAVORITOS -->
<main class="grid-container" id="container-favoritos">
    <!-- Os cards favoritados no localStorage serão inseridos dinamicamente aqui pelo JavaScript -->
</main>

{% block conteudo %}